<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Students</title>
</head>
<body>
    <h1>Create Student</h1>
    <form action="/create" method="post">
        <label for="name">Navn:</label><br>
        <input type="text" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="text" name="email"><br>
        <label for="gender">Køn</label><br>
        <input type="text" name="gender"><br>
        <button type="submit">SEND!</button>
    </form>

</body>
</html>