#H {
    text-align: left;
    color: red;
    font-size: 500px;
}

#I {
    text-align: center;
    color: green;
    font-size: 500px;
}

#T {
    text-align: right;
    color: blue;
    font-size: 500px;
}

#divhit {
    margin: auto 0;
    text-align: center;
    font-family: "Copperplate Gothic Bold", sans-serif;
    font-weight: bolder;
}