<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Movies</title>
</head>
<body>
<h1>Create Movies</h1>
<form action="/create" method="post">
<label for="fyear">Year</label> <br>
<input type="text" id="fyear" name="Year"> <br>
<label for="flength">Length</label> <br>
<input type="text" id="flength" name="Length"> <br>
<label for="ftitle">Title</label> <br>
<input type="text" id="ftitle" name="Title"> <br>
<label for="fsubject">Subject</label> <br>
<input type="text" id="fsubject" name="Subject"> <br>
<label for="fpopularity">Popularity</label> <br>
<input type="text" id="fpopularity" name="Popularity"> <br>
<label for="fawards">Awards</label> <br>
<input type="text" id="fawards" name="Awards"> <br>
<button type="submit">SEND!</button>
    <br>
</form>
</body>
</html>