body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff; /* optional, sets the background color of the dropdown menu */
    color: #555; /* optional, sets the font color of the dropdown menu */
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: yellowgreen;
}

tr:nth-child(odd) {
    background-color: indianred;
}


tr:hover {
    background-color: #ddd;
}