<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="boxesstyle.css">
</head>
<body>

<div id="div_page">
    body

    <header>
        header
        <nav>nav</nav>
    </header>

    <div id="div_section">

        <section id="sec_left">
            Section

            <header>header</header>

            <article>
                Article

                <header>header</header>

                <p>para</p>

                <div id="div_para_aside">
                    <p id="p_bottom">para</p>
                    <aside>aside</aside>
                </div>

                <footer>footer</footer>

            </article>


        </section>

        <section id="sec_right">
            Section
            <header>header</header>
            <nav>nav</nav>

        </section>
    </div>

    <footer>
        footer
    </footer>
</div>


</body>
</html>