<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Øvelse</title>
</head>
<body>
<h1>HTML</h1>
<p style="display:inline"> HyperText Markup Language (HTML) is the standard
    <a href="localhost:8080/exercise">markup language</a>
    for creating web page and
    <a href="localhost:8080/exercise">web applications.</a>
    With
    <a href="localhost:8080/exercise">Cascading Style Sheets(CSS)</a>, and
    <a href="localhost:8080/exercise">JavaScript</a>, it forms a triad of cornerstone technologies for the
    <a href="localhost:8080/exercise">World Wide Web</a>. Web browsers receive HTML documents from a webserver or from
    local storage and render them into multumedia web pages. HTML describes the structure of a web page
    <a href="localhost:8080/exercise">semantically</a> and originally included cues for the appearance of the document
</p>
<p><b>HTML elements are the building blocks of HTML pages.</b>
    With HTML constructs,
    <i>images</i> and other
    <i>objects,</i> such as interactive forms may be embedded into the rendered page. It provides a means to create
    structured documents by denoting structural semantics for text such as
    <i>headings, paragraphs, list, links, quotes</i> and other items. HTML elements are delineated by tags, written
    using angle brackets. Tags such as &lt;img/&gt; and &lt;input/&gt; introduce content into the page directly. Others
    such as &lt;p&gt;...&lt;/p&gt; surround and provid information about document text and may include other tags as
    sub-elements.
    <b>Browsers do not display the HTML tags, but use them to interpret the content of the page.</b>
</p>
<p style="display:inline">HTML can embed programs written in a scripting language such as JavaScript which affect the
    behavior and content of web pages.
    <br>
    Inclusion of CSS defines the look and layout of content.
<br>
The World Wide Web Consortium (W3C), maintainer of both the HTML and the CSS standards, has encouraged the use of CSS over explicit presentational HTML since 1997. </p>
<p>
<img src="https://raw.githubusercontent.com/2-semester-programmering/html_exercise_2/master/266px-HTML.svg%20(1).png"
     alt="HTML" width=266 height=310>
</p>
<h1>Contents</h1>
<ol>
    <li>History</li>
    <ol>
        <li>Development</li>
        <li>HTML versions timeline</li>
        <ol>
            <li>HTML draft version timeline</li>
            <li>XHTML versions</li>
        </ol>
    </ol>
    <li>Markup</li>
    <ol>
        <li>Elements</li>
        <ol>
            <li>Element examples</li>
            <li>Attributes</li>
        </ol>
        <li>Character and entity references</li>
        <li>Data types</li>
        <li>Document type declaration</li>
        <li>Semantic HTML</li>
    </ol>
</ol>
<h3><b> See also</b></h3>
<ul>
    <li><a href="localhost:8080/exercise">HTML Validator</a></li>
    <li><a href="localhost:8080/exercise">Semantic HTML</a></li>
</ul>
<a href="/">Øvelse 1</a>
<br>
<a href="boxes">Boxes!!</a>
<br>
<a href="hit">Øvelse 3!!</a>
<br>
<a href="hit2">Øvelse 3!!(Anden løsning)</a>
</body>
</html>