<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIT</title>
    <link rel="stylesheet" href="hit2style.css">
</head>
<body>


<span id="whole_grid">
    <span class="grid">
    <div class="red"></div>
    <div class="empty"></div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="empty"></div>
    <div class="red"></div>
</span>

    <span class="grid">
    <div class="empty"></div>
    <div class="green"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="green"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="green"></div>
    <div class="empty"></div>
</span>

    <span class="grid">
    <div class="blue"></div>
    <div class="blue"></div>
    <div class="blue"></div>
    <div class="empty"></div>
    <div class="blue"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="blue"></div>
    <div class="empty"></div>
</span>
</span>

<br>
<a href="/">Øvelse 1</a>
<br>
<a href="hit">Øvelse 2</a>
<br>
<a href="boxes">Boxes!!</a>
<br>
<a href="hit">Øvelse 3!!</a>
</body>
</html>