<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arnold</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="container">
    <h1>Hello World</h1>
    <p>This is my first website.</p>
    <p>Do you think i am skillful?</p>
    <a href="https://yes.dk">YES</a>
    <a href="https://no.dk/">NO</a>
    <br>
    <a href="exercise">Øvelse 2!!</a>
    <br>
    <a href="boxes">Boxes!!</a>
    <br>
    <a href="hit">Øvelse 3!!</a>
    <br>
    <a href="hit">Øvelse 3!!(Anden løsning)</a>
    <div id="divarnold">
    <img src="https://raw.githubusercontent.com/2-semester-programmering/html_exercise_warmup/master/terminator.jpg"
         alt="Terminator" width=720 height=480 id="arnold">
    </div>
</div>
</body>
</html>